<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
</head>
<body>

<nav th:include="partials/navbar" :: navbar></nav>

<header th:include="partials/header" :: header></header>

<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    <label for="title">Title: </label>
    <input class="form-control" type="text" id="title" th:field="*{title}">
    <hr>
    <label for="body">Body: </label>
    <input type="text" id="body" th:field="*{body}"></textarea>
    <hr>
    <input type="submit"></input>
</form>

<footer th:include="partials/footer" :: footer></footer>

</body>
</html>