<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Edit</title>
</head>
<body>

<nav th:include="partials/navbar" :: navbar></nav>

<!--<header th:include="partials/header" :: header></header>-->

<form th:action="@{/posts/edit/${post.id}}" th:method="POST" th:object="${post}">
    <label for="title">Title: </label>
    <input class="form-control" type="text" id="title" th:field="*{title}" th:value="post.title">
    <hr>
    <label for="body">Body: </label>
    <textarea class="form-control" id="body" th:field="*{body}" th:value="post.title"></textarea>
    <hr>
    <button class="editPost" type="submit">Update</button>
</form>

<footer th:include="partials/footer" :: footer></footer>

</body>
</html>