<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>

<nav th:include="partials/navbar" :: navbar></nav>

<!--<header th:include="partials/header" :: header></header>-->

<div>
    <h3 th:text="${singlePost.title}"/>
    <h6 th:text = "'Authored by ' + ${singlePost.user.email}" />
    <h4 th:text="${singlePost.body}"/>

    <form th:action="@{/posts/edit/${singlePost.id}}" th:method="post">
        <button>EDIT</button>
    </form>

    <form th:action="@{/posts/delete/${singlePost.id}}" th:method="post">
        <button>DELETE</button>
    </form>

</div>


<footer th:include="partials/footer" :: footer></footer>

</body>
</html>