<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- include stylesheets, etc here -->
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
</head>
<body>
<nav th:fragment="navbar" class="2xl:bg-green-500">
    <!-- awesome navbar goes here -->
    <ul class="flex-box">
        <li><a href="">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
    </ul>
</nav>

</body>
</html>