<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- include stylesheets, etc here -->
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
</head>
<body class="bg-gray-300">

<div class="w-full">
    <nav th:fragment="navbar" class="bg-black flex justify-between">
        <!-- awesome navbar goes here -->
        <div class="flex flex-row justify-between">
            <a th:href="@{|/|}"><img class="h-10 bg-green-300 pl-1 pr-1" src="img/XPeriencelogo.png" alt="logo">
            </a>

<!--            <p id="hamburgerbtn" class="md:hidden text-white border border-white">-->
<!--                MENU-->
<!--            </p>-->
        </div>
        <ul class="flex flex-row" id="mobileMenu">

            <li class="border-double p-1.5">
                <form th:action="@{/posts}">
                    <button class="text-white">ALL POSTS</button>
                </form>
            </li>
            <li class="border-double p-1.5">
                <form th:action="@{/posts/create}">
                    <button class="text-white">CREATE
                    </button>
                </form>
            </li>
            <li class="p-1.5">
                <p class="text-white">  ||  </p>
            </li>
            <li class="border-double p-1.5">
              <form th:action="@{/login}">
                    <button class="text-white">LOGIN</button>
                </form>
            </li>
            <li class="border-double p-1.5">
               <form th:action="@{/logout}" th:method="post">
                    <button class="text-white">LOGOUT</button>
                </form>
            </li>
            <li class="border-double p-1.5">
                <form th:action="@{/sign-up}">
                    <button class="text-white">SIGNUP</button>
                </form>
            </li>
        </ul>

        <div>
            <img class="h-10 w-10 rounded-full p-1.5" src="img/placeholder-avatar.jpeg" alt="logo">
        </div>
    </nav>
</div>

<!--<style>-->
<!--    .active{-->
<!--        display: block;-->
<!--    }-->
<!--</style>-->
<script src="js/js.js"></script>
</body>
</html>