<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Log In</title>
</head>

<nav th:include="partials/navbar" :: navbar></nav>
<body class="min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0">

    <main class="bg-whiteCustom max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">

        <section class="text-center">
            <h3 class="font-bold text-2xl montserrat">Welcome!</h3>
            <p class="text-grayCustom-600 pt-2 quicksand">Please login below.</p>
        </section>

        <section class="mt-10">
            <form th:action="@{/login}" method="post" class="flex flex-col">
                <div class="mb-6 pt-3 rounded bg-grayCustom-200">
                    <label class="block text-grayCustom-700 text-sm font-bold mb-2 ml-3 montserrat" for="username">Username</label>
                    <input class="bg-lightGrayCustom-200 rounded w-full text-grayCustom-700 focus:outline-none border-b-4 border-greenCustom-300 focus:border-greenCustom-600 transition duration-500 px-3 pb-3 quicksand" id="username" name="username" type="text" />
                </div>
                <div class="mb-6 pt-3 rounded bg-grayCustom-200">
                    <label class="block text-grayCustom-700 text-sm font-bold mb-2 ml-3 montserrat" for="password">Password</label>
                    <input class="bg-lightGrayCustom-200 rounded w-full text-grayCustom-700 focus:outline-none border-b-4 border-greenCustom-300 focus:border-greenCustom-600 transition duration-500 px-3 pb-3 quicksand" id="password" name="password" type="password" />
                </div>
                <div class="text-center">
                    <input class="g-darkGreenCustom-600 hover:bg-greenCustom-700 text-whiteCustom font-bold p-2 rounded hover:bg-darkGreenCustom shadow-lg hover:shadow-xl transition duration-200 montserrat mb-5" type="submit" value="Log In" />
                </div>
            </form>
        </section>
        <section class="text-center">
            <div th:if="${param.error}" class="montserrat text-center">
                <p>Invalid Username and Password.</p>
            </div>
        </section>
        <hr>
        <section class="text-center">
            <div class="max-w-lg mx-auto flex justify-center text-center text-blackCustom mt-2">
                <p class="justify-center montserrat">Don't have an account? </p><a th:href="@{|/sign-up|}" class="font-bold hover:underline quicksand"> Sign Up!</a>
            </div>
        </section>
        <!--<div th:if="${param.logout}">-->
        <!--    You have been logged out.-->
        <!--</div>-->
    </main>


<!--    <footer th:include="partials/footer" :: footer></footer>-->

</body>
</html>