@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /*.cards {*/
    /*    @apply col-span-full md:col-span-6 lg:col-span-4 xl:col-span-3 bg-codeupGreen bg-opacity-70 rounded-md flex flex-col justify-between dark:text-gray-200*/
    /*}*/
    .body-bg {
        background-color: #3FE821;
        background-image: linear-gradient(315dg, #213416 0%, #3FE821 74%);
        opacity: 70%;
    }

    .montserrat {
        font-family: 'Montserrat', sans-serif;
    }

    .quicksand {
        font-family: 'Quicksand', sans-serif;
    }

}