<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav th:include="partials/navbar" :: navbar></nav>

<!--    <header th:include="partials/header" :: header></header>-->

    <h1>Hello, <span th:text="${name}">World</span>!</h1>

    <footer th:include="partials/footer" :: footer></footer>

</body>
</html>